@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.bg-app {
  background: url("./images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.leaflet-container {
  z-index: 0 !important; /* map below everything */
}

@media (max-width: 676px) {
  .bg-app {
    background: url("./images/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
